@import "tailwindcss";

:root {
  --background: #ffffff;
  --custombackground: #ffffff;
  --foreground: #171717;

  --customaccent: #04B3B3;
  --customtext: #252a42;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--custombackground);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

label{
    font-size: 16px;
    font-weight: bold;
    color: var(--customtext);

    flex: 1;
}

input:not([type="radio"]):not([type="checkbox"]) {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.container{
  padding-inline: 10px;
}